port: ":8001"

mongo:
    uri: "mongodb://localhost:27017"
    name: "testdb"
    userCollection: "users"
    projectCollection: "projects"
    boardCollection: "boards"
    taskListCollection: "taskLists"
    taskCollection: "tasks"
    tokenCollection: "tokenOut"

db:
    username: "postgres"
    password: "1234"
    host: "localhost"
    port: "5432"
    dbname: "yak_test_db"
    sslmode: "disable"