language: go
go: "1.15"
os: linux

services:
  postgresql

before_script:
  - psql -c 'create database yak_test_db;' -U postgres
  - psql -d yak_test_db -c '\i backend/scripts/init.sql;' -U postgres
  - psql -c "alter user postgres with password '1234';" -U postgres

jobs:
  include:
    - stage: test
      script:
        - cd backend
        - go test -short ./... # unit tests
        - go test -tags=integration ./... # integration tests
        - go test -tags=e2e # e2e tests