// Import the typography styles.
//
// MDC Typography
//


@import "@material/top-app-bar/variables";
.main-content {
  padding-top: $mdc-top-app-bar-row-height;
}

.main {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  color: var(--mdc-theme-text-primary-on-background, black) !important;
  background-color: var(--mdc-theme-background, #fff) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-text-primary-on-background, black) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
  color: var(--mdc-theme-text-primary-on-background, black) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--mdc-theme-text-primary-on-background, black) !important;
}

:root {
}

html, body {
  width: 100vh;
  height: 100vh;
  width: 100%;
  height: 100%;
}

.mdc-text-field {
//  color: var(--mdc-theme-text-primary-on-background, black) !important;
}
